<!DOCTYPE html>
<html>
<head>
    <title>Register and Login Page</title>
    <script src="login6.js"></script>
    <link rel="stylesheet" href="login6.css">
</head>
<body>
	<div id="login-box">
		<div class="left-box">
    		<section id="regForm">
        		<h2 id="headerRegister">Register</h2><hr><br />
        		<input type="text" placeholder="Enter Username" id="unReg" />
				<input type="password" placeholder="Enter Password" id="pwReg" />
				<br />
				<br />
				<button id="register" onclick="register()">Register</button>
    		</section>
    	</div>
		<div class="right-box">
			<section id="logForm">
				<h2 id="headerLogin">Login</h2><hr><br />
				<input type="text" placeholder="Enter Username" id="unLog" />
				<input type="password" placeholder="Enter Password" id="pwLog" />
				<br />
				<br />
				<button id="login" onclick="login()">Login</button>
			</section>
		</div>
		<div class="or">OR</div>
	</div>
</body>
</html>
